.sidebar {
    width: 240px;
    flex-shrink: 0;
  }
  
  .MuiDrawer-paper {
    width: 250px;
    background: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
   
  }
  
  .logo-image {
    height: auto;
    object-fit: contain; 
    image-rendering: crisp-edges; 
    image-rendering: -webkit-optimize-contrast;
  }
  
  .active {
    background-color: #f3e5f5 !important;
    border-radius: 8px;
  }
  
  .active-icon {
    color: #815EA2;
  }
  